<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <div class="container">
        <% for(post of posts) { %>
            <div class="card">
                <h3 class="userName">@<%= post.username  %></h3> 
                <p class="content"><%= post.content %></p>
                <a class="btn" href="http://localhost:8080/posts/<%=post.id%>">View</a>
                <a class="btn" href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
                <br><br>
                <form action="/posts/<%= post.id %>?_method=delete" method="post">
                    <button class="btn">Delete</button>
                </form>
            </div>
         <%}%>
    </div>

       <div  style="display: flex; justify-content: center;">
           <a class="createPost" href="http://localhost:8080/posts/new">Create New Post</a>
       </div>
      
</body>
</html>

